<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Rakit Framework">
            <directory suffix="Tests.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>